<header>
<h1 class="mainTitle"><a href="/">NSDMDH</a></h1>
<nav>
  <ul>
    {{ $title := lower .Title }}
    {{ $section := lower .Section }}
    <li>
      <a href="{{ .Site.BaseURL }}">home/{{ lower .Site.Title}}</a>
    </li>
    {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
      <li>
        <a href="{{ .URL }}">{{ lower .Name }}</a>
      </li>
    {{end}}

    {{ range .Site.Menus.feed }}
      {{ $name := lower .Name}}
      <li>
        <a href="{{ .URL }}">~/{{ lower .Name}}</a>
      </li>
    {{end}}

  </ul>
</nav>
</header>